* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(120deg, rgb(185, 86, 86), rgb(75, 8, 68));
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

button {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.4rem;
    padding: 1.2rem;
    border: none;
    border-radius: 60%;
    background-color: rgba(255, 255, 255, 0.89);
    box-shadow: 3px 3px 9px rgb(31, 29, 29), -1px -1px 7px white;
    cursor: pointer;
}

button:hover {
    box-shadow: none;
    background-image: linear-gradient(110deg, rgba(0, 0, 0, 0.781), rgba(53, 6, 6, 0.349));
    color: white;
}

button:focus {
    outline: none;
}


/* bulb button starts */

#button-bulb {
    width: 3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.button-bulb-click-black {
    background-image: linear-gradient(110deg, rgb(17, 16, 16), rgb(56, 52, 52));
    box-shadow: 3px 3px 12px rgba(7, 7, 7, 0.548), -3px -3px 12px rgba(7, 7, 7, 0.548);
}

.button-bulb-click-white {
    background-image: linear-gradient(115deg, #E0E5EC, #E0E5EC);
    box-shadow: 3px 3px 12px rgba(7, 7, 7, 0.548), -3px -3px 8px rgba(255, 255, 255, 0.5);
}


/* bulb button ends */


/* calci starts */

#calci-container {
    margin-top: 1rem;
    padding: 2rem;
    height: 39rem;
    width: 27rem;
    border: none;
    border-radius: 2rem;
}


/* TO SEE */

#screen {
    color: black;
    font-size: 1.4rem;
    font-family: 'Press Start 2P', cursive;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.89);
    box-shadow: 3px 3px 12px rgba(7, 7, 7, 0.548), -3px -3px 12px rgba(7, 7, 7, 0.548);
    border: none;
    border-radius: 2rem;
    margin-bottom: 2rem;
}

#keys {
    display: grid;
    color: white;
    grid-template-columns: repeat(4, auto);
    column-gap: 2rem;
    row-gap: 2rem;
}

#button-c {
    width: 4.4rem;
    grid-column: 1/3;
    transition: background-image 0.5s, box-shadow 0.5s;
}

#button-equals {
    border-radius: 2rem;
    grid-column: 3/5;
    transition: background-image 0.5s, box-shadow 0.5s;
}

#button-c:hover,
#button-equals:hover {
    box-shadow: none;
    background-image: linear-gradient(110deg, rgba(51, 4, 4, 0.788), rgba(93, 4, 4, 0.924));
    color: white;
}


/* calci ends */


/* footer starts */

footer {
    position: absolute;
    bottom: 0;
    border-top: 2px solid red;
    padding: 1rem;
}

#footer-para {
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    bottom: 0;
}


/* footer ends */


/* media queries starts */

@media (max-width: 600px) {
    #calci-container {
        height: 35rem;
        width: 24rem;
    }
    #keys {
        column-gap: 1.1rem;
        row-gap: 1rem;
    }
    #button-c {
        width: 4rem;
    }
}


/* media queries ends */